// Variables
$primary-color: #ff6464;
$primary-color-react: #fb6161;
$text-color-muted: #888;
$max-width: 1280px;

#root {
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;

  &:hover {
    filter: drop-shadow(0 0 2em #{rgba($primary-color, 0.67)});
  }

  &.react:hover {
    filter: drop-shadow(0 0 2em #{rgba($primary-color-react, 0.67)});
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: $text-color-muted;
}
