// Стили для AppBar

// Стили для NavLink в навигации
nav {
  display: flex;
}
nav a {
  text-decoration: none;
  color: rgb(53, 15, 1);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: all 0.3s ease;
  margin-left: 1rem;
  background-color: rgba(176, 177, 153, 0.94);

  &:hover {
    background-color: rgb(201, 201, 185);
  }

  &.active {
    background-color: rgb(201, 201, 185);
  }
}
